<div class="card">
  <div class="card__img">
    <%= link_to image_tag(prototype.image), prototype_path(prototype.id) %>
  </div>
  <div class="card__title">
    <%= link_to prototype.title, prototype_path(prototype.id) %>
  </div>
  <div class="card__summary">
    <%= prototype.catch_copy %>
  </div>
  <div class="card__user">
    by
    <%= link_to prototype.user.name, user_path(prototype.user.id) %>
  </div>
</div>